@model RenttoRideFP.Models.car_reg

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>car_reg</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.car_plateno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.car_plateno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.car_brand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.car_brand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.car_model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.car_model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.car_color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.car_color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.car_capacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.car_capacity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.car_availability)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.car_availability)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.car_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
